<% layout('/layouts/default.html', {title: '企业管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(tbComp.isNewRecord ? '新增企业' : '编辑企业')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${tbComp}" action="${ctx}/tb/tbComp/save" method="post" class="form-horizontal">
					<div class="box-body">
				<div class="form-unit" ><span id='getlabel'></span>${text('基础信息')}</div>
				<#form:hidden path="id"/>
				<input id="url" name="url" style="display: none">
				<input id="nextstatus" name="nextstatus" style="display: none">				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 企业名称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compName" maxlength="100" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 统一社会信用代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compCode" maxlength="50" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 统一社会信用代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compCode" maxlength="50" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 工商注册号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="regCode" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 组织结构代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="orgCode" maxlength="50" class="form-control "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 税务登记号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="taxCode" maxlength="100" class="form-control "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span>法人身份证号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="cardNo" maxlength="50" class="form-control idcard required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 注册时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
<#form:input path="registerDate" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 注册资金：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="registerMoney" maxlength="20" class="form-control digits"/>
							</div>
						</div>
					</div>
					
				</div>

									<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">注册地址：</label>
							<div class="col-sm-10">
								<#form:input path="registerAddress" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
					
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 企业法人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compLegalPerson" maxlength="20" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 法人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="legalPersonPhone" maxlength="20" class="form-control required phone"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 企业联系人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compContact" maxlength="20" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 联系人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contactPhone" maxlength="20" class="form-control required phone"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 公司电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compPhone" maxlength="20" class="form-control required phone"/>
							</div>
						</div>
						
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 公司邮箱：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compEmail" maxlength="64" class="form-control required email"/>
							</div>
						</div>
					</div>
				</div>
					<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 主营业务：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mainBusiness" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 员工数量：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="employeesCount" maxlength="20" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 公司性质：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="natureId" dictType="nature_type" class="form-control digits required" />						
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 所属行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:radio path="industry" dictType="industry_type" class="form-control digits required" />
							</div>
						</div>
					</div>
				</div>
			
				
				<div class="row">
					
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 是否特殊行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">							
								<#form:radio path="speciaIndustry" dictType="specia_industry" class="form-control digits required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">公司简介：</label>
							<div class="col-sm-10">
						       <#form:textarea path="compProfile" class="form-control" style="height:100px" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 法人身份证正面：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:fileupload id="idCardA"    bizKey="${tbComp.id}" bizType="tbComp_idCardA" maxUploadNum="1"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 法人身份证反面：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:fileupload id="idCardB" bizKey="${tbComp.id}" bizType="tbComp_idCardB" maxUploadNum="1"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
			<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 特殊行业许可证：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:fileupload id="specialTradeLicense"  bizKey="${tbComp.id}" bizType="tbComp_specialTradeLicense" maxUploadNum="1"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 营业执照：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:fileupload id="businessLicense" bizKey="${tbComp.id}" bizType="tbComp_businessLicense" maxUploadNum="1"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>	
				<div class="row" hidden="true">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 企业类型：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="compType" dictType="company_type" blankOption="true" class="form-control digits" />
							</div>
						</div>
					</div>

				</div>
<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class="required ">*</span>企业简介附件：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="compProfileAttachment" bizKey="${tbComp.id}" bizType="tbComp_compProfileAttachment" maxUploadNum="1"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row" name="capital" hidden="true">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2"><span class="required ">*</span>企业章程附件：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="articlesAssociation" bizKey="${tbComp.id}" bizType="tbComp_articlesAssociation" maxUploadNum="1"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
<div class="row"  name="capital" hidden="true" >
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2"><span class="required ">*</span>验资报告附件：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="capitalVerificationReport" bizKey="${tbComp.id}" bizType="tbComp_capitalVerificationReport" maxUploadNum="1"
									uploadType="image" class="" readonly="false"/>
							</div>
						</div>
					</div>
				</div>
				
				<%if(tbComp.applyState==0&&tbComp.applyState==4){%>
				
				
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class="required hide"></span>审核备注：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<div class="form-group">
							<div class="col-sm-10">
								<textarea id="operationRemark" name="operationRemark" class="form-control" style="height:100px"  rows="" cols=""></textarea>
							</div>
							</div>
						</div>
					</div>
				</div>
				<%}%>
				<%if(tbComp.applyState==2){%>							
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class="required hide"></span>审核情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<div class="form-group">
							<div class="col-sm-10">
							${tbpl.operationRemark}
							</div>
							</div>
						</div>
					</div>
				</div>
				<%}%>
			</div>
			<div class="box-footer" align="center">
				<div class="row" style="margin: 0 100px 0 0; ">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit" style="display: none"></button>		
						<%for(bstate in prolist){%> 	
						<button type="button" class="btn btn-sm btn-primary"  onclick="change('${bstate.nextStateId}','${bstate.url}','${bstate.remark}')">${bstate.name}</button>	&nbsp;&nbsp;												
						<%}%>				
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
$(function(){
	var compType='${tbComp.compType}';
	 getlabel(compType);
	//核心企业特殊上传
	if(compType==1){
		$("div[name='capital']").show();
	} else{
		$("div[name='capital']").remove();
	}
})
function getlabel(compType){
	$("#getlabel").text(js.getDictLabel(${@DictUtils.getDictListJson('company_type')}, compType, '${text('未知')}', true)); 
}
function change(status,url,remark){
/* 	layer.alert('见到你真的很高兴', {icon: 1});*/
	layer.alert(remark, {
		     skin: 'layui-layer-molv' //样式类名  自定义样式
		     ,closeBtn: 1    // 是否显示关闭按钮
		     ,anim: 1 //动画类型
		    ,btn: ['确定','取消'] //按钮
		    ,icon: 8    // icon
		    ,yes:function(){
		         $('#nextstatus').val(status);
		    	if(url.length>0){
		    		$('#inputForm').attr("action",url)
		    	}
		    	$("#btnSubmit").trigger("click");
		     }
	     	,btn2:function(){
		        layer.msg('已取消')
		     }});
}
</script>