<% layout('/layouts/default.html', {title: '登录', libs: ['validate'], bodyClass: 'login-page'}){ %>
<% include('/include/upgrade.html'){} // 如果客户浏览器版本过低，则显示浏览器升级提示。 %>
<link rel="stylesheet" href="${ctxStatic}/icheck/1.0/square/blue.css?${_version}">
<link rel="stylesheet" href="${ctxStatic}/jquery-toastr/2.0/toastr.min.css?${_version}">
<link rel="stylesheet" href="${ctxStatic}/modules/sys/sysLogin.css?${_version}">
<% var productName = @Global.getConfig('productName'), productVersion = @Global.getConfig('productVersion'); %>
<div class="login-box">
	<div class="login-logo" title="${productName}">
		<a href="${ctx}/login"><b>${productName}</b> <small>${productVersion}</small></a>
	</div>
	<div class="login-box-body">
		<#form:form id="loginForm" model="${user!}" action="${ctx}/login" method="post">
			<div class="form-group has-feedback">
				<a class="btn btn-primary btn-sm" style="width: 100%;cursor: pointer;" href="${ctxPath}/account/reguser?compType=0">${text('借款企业注册')}</a>
			</div>
			<div class="form-group has-feedback">
				<a   class="btn btn-primary btn-sm" style="width: 100%;background-color:#00a65a;cursor: pointer;" href="${ctxPath}/account/reguser?compType=1">${text('核心企业注册')}</a>

			</div>
				<div class="form-group has-feedback">
					<a   class="btn btn-primary btn-sm" style="width: 100%;background-color: #f39c12;cursor: pointer;" href="${ctxPath}/account/reguser?compType=2">${text('金融机构注册')}</a>

			</div>
			<%/*<!-- if(@ObjectUtils.toBoolean(@Global.getConfig('user.useCorpModel'))){ %>
			<div class="form-group has-feedback">
				<select name="param_corpCode" class="form-control">
					<% for(var user in @UserUtils.findCorpList()){ %>
						<option value="${user.corpCode}">(${user.corpCode}) ${user.corpName}</option>
					<% } %>
				</select>
			</div>
			<% } -->*/%>

			
		</#form:form>
		<div class="row">
			<div class="col-xs-12">
				<a href="${ctxPath}" class="pull-right">${text('返回登录')}</a>
				<%
				var langTypeList = @DictUtils.getDictList('sys_lang_type');
				if (langTypeList.~size > 1){
				%>
				<div class="dropdown pull-right">
					<a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
						<i class="fa icon-globe"></i> ${@DictUtils.getDictLabel('sys_lang_type', lang(), 'zh_CN')}
					</a>
					<ul class="dropdown-menu">
						<li class="mt5"></li>
						<% for(var dict in langTypeList){ %>
							<li><a href="${ctxPath}/lang/${dict.dictValue}">${dict.dictLabel}</a></li>
						<% } %>
						<li class="mt10"></li>
					</ul>
				</div>
				<% } %>
			</div>
		</div>
	</div>
	<div class="login-copyright">
		&copy; ${@DateUtils.getYear()} ${productName} - Powered By <a href="http://jeesite.com">JeeSite</a>.
	</div>
</div>
<% } %>
<script>var secretKey = '${@Global.getConfig("shiro.loginSubmit.secretKey")}';</script>
<script src="${ctxStatic}/jquery-toastr/2.0/toastr.min.js?${_version}"></script>
<script src="${ctxStatic}/common/des.js?${_version}"></script>
<script src="${ctxStatic}/modules/sys/sysLogin.js?${_version}"></script>