<% layout('/layouts/default.html', {title: '状态管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('状态管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('state:tbState:edit')){ %>
					<a href="${ctx}/state/tbState/form" class="btn btn-default btnTool" title="${text('新增状态')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tbState}" action="${ctx}/state/tbState/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">0注册 1流程：</label>
					<div class="control-inline">
						<#form:input path="type" maxlength="2" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">产品id  注册不写：</label>
					<div class="control-inline">
						<#form:input path="productId" maxlength="11" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">对应状态：</label>
					<div class="control-inline">
						<#form:input path="stateName" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">操作名称：</label>
					<div class="control-inline">
						<#form:input path="operationName" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">状态：</label>
					<div class="control-inline width-120">
						<#form:select path="status" dictType="sys_search_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">角色：</label>
					<div class="control-inline">
						<#form:input path="rolecode" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">0启用  1停用：</label>
					<div class="control-inline">
						<#form:input path="isstop" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'0注册 1流程', name:'type', index:'a.type', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/state/tbState/form?id='+row.id+'" class="btnList" data-title="${text('编辑状态')}">'+(val||row.id)+'</a>';
		}},
		{header:'产品id  注册不写', name:'productId', index:'a.product_id', width:150, align:"left"},
		{header:'对应状态', name:'stateName', index:'a.state_name', width:150, align:"left"},
		{header:'操作名称', name:'operationName', index:'a.operation_name', width:150, align:"left"},
		{header:'状态', name:'status', index:'a.status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_search_status')}, val, '${text('未知')}', true);
		}},
		{header:'角色', name:'rolecode', index:'a.rolecode', width:150, align:"left"},
		{header:'0启用  1停用', name:'isstop', index:'a.isstop', width:150, align:"left"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('state:tbState:edit')){ %>
				actions.push('<a href="${ctx}/state/tbState/form?id='+row.id+'" class="btnList" title="${text('编辑状态')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/state/tbState/disable?id='+row.id+'" class="btnList" title="${text('停用状态')}" data-confirm="${text('确认要停用该状态吗？')}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/state/tbState/enable?id='+row.id+'" class="btnList" title="${text('启用状态')}" data-confirm="${text('确认要启用该状态吗？')}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/state/tbState/delete?id='+row.id+'" class="btnList" title="${text('删除状态')}" data-confirm="${text('确认要删除该状态吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>