<% layout('/layouts/default.html'){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> 查看合同内容
			</div>
			<button class="btn btn-sm btn-primary" name='sigin' style="margin-left: 20px;" onclick="siginOne('13')">签署</button>	
			<button class="btn btn-sm btn-primary" name='sigin' style="margin-left: 20px;" onclick="siginOne('11')">信息有误</button>							
			<ul class="nav nav-tabs pull-right">
				<% for(var contract in contractList){ %> 
				<li <% if(contractLP.index==1){ %>class="active" <% } %>><a
					style="text-decoration: none; color: #969696; cursor: pointer;"
					data-toggle="tab" aria-expanded="true"
					onclick="chengeTab(${contractLP.index},${contractLP.size})">${contract.name}</a></li>
				 <% } %>
			</ul>
		</div>
		
		<% for(var contractSign in contractSignList){ %> 
		
		<div id="tab-${contractSignLP.index}" style="padding: 50px;   <% if(contractSignLP.index!=1){ %> display: none; <% } %>"  >${contractSignLP.index}${contractSign.contractContent}</div>
		
		<% } %>
	</div>
</div>
<% } %>
<script>
	function chengeTab(index,count) {
		for(var i=0;i<count;i++){
			var id=i+1;
			if (index == id) {
				document.getElementById("tab-"+id).style.display = "";//显示
			}else{
				document.getElementById("tab-"+id).style.display = "none";//隐藏
			}
			
		}
	}
	$("#inputForm").validate({
		submitHandler: function(form){
			js.ajaxSubmitForm($(form), function(data){
				js.showMessage(data.message);
				if(data.result == Global.TRUE){
					//刷新
					js.closeCurrentTabPage(function(contentWindow){
						contentWindow.page();
					}); 
				}
			}, "json");
	    }
	});
	//异步签署
	function siginOne(nextstatus){
		$("button[name='sigin']").hide();
		var id='${contractSign.loanId}';
		var urlstr='${ctx}/apply/tbLoanApply/saveTwoSign';
		js.loading('请稍等，正在进行中...');

		$.ajax({ 
			url: urlstr, 
			type:"post",
			data:{'id':id,'nextstatus':nextstatus},
			success: function(data){
				js.closeLoading(1000, true);

				if(data.indexOf("true")>-1){
					js.showMessage('操作成功！');
					js.closeCurrentTabPage(function(contentWindow){
						contentWindow.page();
					}); 
				}else{
					js.showMessage('签署异常！');
					$("button[name='sigin']").show();
				}
	     	 }
		});
	}

</script>
