<% layout('/layouts/default.html', {title: '借款管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('借款管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('apply:tbLoanApply:edit')&&userrolecode=='jkqy'&&noapply==1){ %>
					<a href="${ctx}/apply/tbLoanApply/form" class="btn btn-default btnTool" title="${text('新增借款申请')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tbLoanApply}" action="${ctx}/apply/tbLoanApply/listData?type=${type}" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">企业名称：</label>
					<div class="control-inline">
						<#form:input path="compName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>

				
				<div class="form-group">
					<label class="control-label">借款人：</label>
					<div class="control-inline">
						<#form:input path="loanName" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				
			<!-- 	<div class="form-group">
					<label class="control-label">借款产品：</label>
					<div class="control-inline width-120">
						<#form:select  path="productId" items="${tbProductlist}" itemLabel="prodctName" itemValue="id" class="form-control" />					
					</div>
				</div> -->
				<div class="form-group">
					<label class="control-label">状态：</label>
					<div class="control-inline width-120">
						<#form:select path="applyState" dictType="apply_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				
				<!-- <div class="form-group">
					<label class="control-label">授权核心企业：</label>
					<div class="control-inline width-120">				
						<#form:select  path="coreCompId" items="${comlist}" itemLabel="compName" itemValue="id" class="form-control" />										
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">申请时间：</label>
					<div class="control-inline">
						<#form:input path="applyTime_gte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){applyTime_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="applyTime_lte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div> -->
				
				
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'企业名称', name:'compName', index:'a.comp_name', width:150, align:"center", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/apply/tbLoanApply/form?id='+row.id+'&looktype=2" class="btnList" data-title="${text('编辑借款申请')}">'+(val||row.id)+'</a>';
		}},
		{header:'借款人', name:'loanName', index:'a.loan_name', width:150, align:"center"},
		{header:'电话', name:'loanPhone', index:'a.loan_phone', width:150, align:"center"},
		{header:'借款金额', name:'loanAmount', index:'a.loan_amount', width:150, align:"center"},
    	{header:'借款产品', name:'productId', index:'a.product_id', width:150, align:"center", formatter: function(val, obj, row, act){
			<%for(pr in tbProductlist){%>
			if('${pr.id}'==val){
				return '${pr.prodctName}';
			}
			<%}%>	
	 	return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text('未知')}', true);
		}},
		{header:'借款期限', name:'loanTime', index:'a.loan_time', width:150, align:"center", formatter: function(val, obj, row, act){
			<%for(tb in tbProductBorrowTypelist){%>
				if('${tb.id}'==val){
					return '${tb.borrowTime}';
				}
			<%}%>
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text('未知')}', true);
		}},
		{header:'申请时间', name:'applyTime', index:'a.apply_time', width:150, align:"center", formatter: function(val, obj, row, act){
			return val.substring(0,11);
		}},

		{header:'状态', name:'applyState', index:'a.apply_state', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('apply_status')}, val, '${text('未知')}', true);
		}},{header:'操作时间', name:'operationTime', index:'a.operation_time', width:150, align:"center", formatter: function(val, obj, row, act){
			//alert(val)
			return val.substring(0,11);
		}},
		{header:'${text('操作')}', name:'actions', width:180, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
				actions.push('<a href="${ctx}/apply/tbLoanApply/form?id='+row.id+'" class="btnList" title="${text('查看')}">查看</a>&nbsp;');
				/* if('${userrolecode}'!='jkqy'){
					
				actions.push('<a href="${ctx}/apply/tbLoanApply/form?id='+row.id+'&looktype=3" class="btnList" title="${text('审核情况')}">进度</a>&nbsp;');
				} */
				if(row.applyState==0){
					actions.push('<a href="${ctx}/apply/tbLoanApply/delete?id='+row.id+'" class="btnList" title="${text('删除')}" data-confirm="${text('确认要删除该借款申请吗？')}">删除</a>&nbsp;');				
				}
				<%for(bstate in bottonlist){
					var nowstatus=bstate.nowstatus;
					var operationName=bstate.operationName;
					%> 		
					//alert(row.applyState=='${bstate.nowstatus}')
					 if(row.applyState=='${bstate.nowstatus}'){	
						 if('${bstate.pagename}'.length>0){
							actions.push('<a href="${ctx}/apply/tbLoanApply/'+'${bstate.pagename}'+'?id='+row.id+'"  class="btnList" title="${bstate.operationName}" ">${bstate.operationName}</a>&nbsp;');				 
						 }else{
							actions.push('<a href="${ctx}/apply/tbLoanApply/form?looktype=1&id='+row.id+'"  class="btnList" title="${bstate.operationName}" ">${bstate.operationName}</a>&nbsp;');				
						 }
					 } 
				<%}%> 
				return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>