<% layout('/layouts/default.html', {title: '借款申请管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i>查看
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${tbLoanApply}" action="${ctx}/apply/tbLoanApply/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('企业信息')}</div>
				<#form:hidden path="id"/>
			<input id="compId" name="compId" type="hidden" value="${tbLoanApply.compId}">				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 企业名称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compName}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 统一社会信用代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compCode}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 工商注册号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.regCode}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 组织结构代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">		
								${tbLoanApply.orgCode}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 税务登记号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.taxCode}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span>法人身份证号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.cardNo}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 注册时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${trim(tbLoanApply.registerDate,"yyyy-MM-dd")}
						</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 注册资金：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.registerMoney}
							</div>
						</div>
					</div>
					
				</div>

									<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">注册地址：</label>
							<div class="col-sm-10">
								${tbLoanApply.registerAddress}
							</div>
						</div>
					</div>
				</div>
					
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 企业法人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compLegalPerson}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 法人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.legalPersonPhone}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 企业联系人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compContact}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 联系人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.contactPhone}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 公司电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compPhone}
							</div>
						</div>
						
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 公司邮箱：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compEmail}
							</div>
						</div>
					</div>
				</div>
					<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 主营业务：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.mainBusiness}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 员工数量：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.employeesCount}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" " ></span> 公司性质：<i class="fa icon-question hide" ></i></label>
							<div class="col-sm-8" >	
							<span id="anatureId"></span>				
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 所属行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
														<span id="aindustry"></span>				
							</div>
						</div>
					</div>
				</div>
			
				
				<div class="row">
					
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 是否特殊行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<span id="aspeciaIndustry"></span>							
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">公司简介：</label>
							<div class="col-sm-10">
						       ${tbLoanApply.compProfile}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人身份证正面：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:fileupload id="idCardA"    bizKey="${tbLoanApply.compId}" bizType="tbComp_idCardA" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人身份证反面：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:fileupload id="idCardB" bizKey="${tbLoanApply.compId}" bizType="tbComp_idCardB" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
			<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 特殊行业许可证：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:fileupload id="specialTradeLicense"  bizKey="${tbLoanApply.compId}" bizType="tbComp_specialTradeLicense" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 营业执照：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:fileupload id="businessLicense" bizKey="${tbLoanApply.compId}" bizType="tbComp_businessLicense" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
				</div>	
			
<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class=" "></span>企业简介附件：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="compProfileAttachment" bizKey="${tbLoanApply.compId}" bizType="tbComp_compProfileAttachment" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				
			
				
				
			</div>
							<div class="form-unit">${text('基本信息')}</div>
			
				<div class="row">
				 	<div class="col-xs-6" hidden="true">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 用户id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="userId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div> 
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 借款金额：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.loanAmount}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 借款人姓名：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.loanName}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 借款人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.loanPhone}
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 收款开户行：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
															${tbLoanApply.blankOpen}							
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 收款账号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
															${tbLoanApply.blankCards}
							
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 产品类型：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<% for(pr in tbProductlist){
							if(pr.id==tbLoanApply.productId+""){
							%>
							 ${pr.prodctName}
							<% }}%>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 借款期限：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<% for(pr in tbProductBorrowTypelist){
							if(pr.id==tbLoanApply.loanTime+""){
							%>
							${pr.borrowTime}
							<% }}%>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 购销合同编号（应收账款）：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.contarctCode}
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 账款金额：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.contactAmount}
							</div>
						</div>
					</div>
					
				</div>
				
				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 合同有效期起：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${trim(tbLoanApply.urgeDateStart,"yyyy-MM-dd")}						
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 合同有效期止：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${trim(tbLoanApply.urgeDateEnd,"yyyy-MM-dd")}						
							</div>
						</div>
					</div>
					
				</div>
				
				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 资金回笼账号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.moneyCollectingAccount}
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 资金回笼开户行：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.moneyCollectingBank}
							</div>
						</div>
					</div>
					
				</div>
				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 资金回笼用户名：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.moneyCollectingName}
							</div>
						</div>
					</div>
						
					
				</div>
				
				<div class="row" >
				<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 授权核心企业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<%for(com in comlist){
							if(com.id==tbLoanApply.coreCompId){						
							%>
								${com.compName}
							<%}}%>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 核心企业系统登录地址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.coreSysUrl}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 核心企业系统登录用户名：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.coreSysUsername}
							
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 核心企业系统登录密码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.coreSysPwd}							
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 核心企业合作年限：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<span id="acooperationId"></span>
							
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">借款用途：</label>
							<div class="col-sm-10">
								${tbLoanApply.loanUse}
							</div>
						</div>
					</div>
				</div>
					<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">还款来源：</label>
							<div class="col-sm-10">
								${tbLoanApply.reimbursementSouce}
							</div>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 企业房产：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<span id="acompHouse"></span>
								
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 企业土地：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
														<span id="acompLand"></span>
							
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 年销售额：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.annualSales}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 净利润：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.netProfit}
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 银行负债：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.bankResponsible}
							</div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 法人户口所在地：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.legalPrpPlace}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人身份证号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.legalIdcard}
							</div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人房产情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<span id="alegalHouse"></span>
								
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人车产情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<span id="alegalCar"></span>
							
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人婚姻状况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<span id="alegalMarriage"></span>
								
							
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 居住情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<span id="alivingSituation"></span>							
							
							</div>
						</div>
					</div>
				
				</div>
				<div class="row">
				
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 户籍地址与实际居住地址是否一致：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<span id="aisRprAddress"></span>							
							
							</div>
						</div>
					</div>
				</div>
				<div class="row">
								<%if(tbLoanApply.isRprAddress==0){%>
				
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 实际居住地址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.actualLivingAddress}
							</div>
						</div>
					</div>
									<%}%>
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 户籍地址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.rprAddress}
							</div>
						</div>
					</div>
				</div>
								<div class="row">
				
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 家庭联系人1：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.householdContacts1}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 家庭联系人2：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.householdContacts2}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 家庭联系人1关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<span id="ahouseholdContacts1Relationship"></span>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 家庭联系人2关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
														<span id="ahouseholdContacts2Relationship"></span>
							
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 家庭联系人1 电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.householdContacts1Phone}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 家庭联系人2 电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.householdContacts2Phone}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人1：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.otherContacts1}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人2：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.otherContacts2}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人1关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<span id="aotherContacts1Relationship"></span>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人2关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
														<span id="aotherContacts2Relationship"></span>
							
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人1电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.otherContacts1Phone}
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人2电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.otherContacts2Phone}
							</div>
						</div>
					</div>
				</div>
				<div class="row" hidden="true">
				
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 申请时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="applyTime" readonly="true" maxlength="20" class="form-control Wdate date"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" hidden="true">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 申请状态：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="applyState" dictType="apply_status" blankOption="true" class="form-control digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6" hidden="true">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 操作人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="operationUserId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" hidden="true">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 操作时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="operationTime" readonly="true" maxlength="20" class="form-control Wdate"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 授信额度：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="lineCredit" maxlength="20" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-6" hidden="true">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 授权核心企业id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="coreCompId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				
				</div>
				
				<div class="form-unit">${text('授信情况')}</div>
				<div class="row" >
				<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 授权企业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<%for(com in comlist){
							if(com.id==tbLoanApply.coreCompId){						
							%>
								${com.compName}
							<%}}%>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span>授信额度：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.lineCredit}
							</div>
						</div>
					</div>
				</div>
				<div class="form-unit">${text('放款情况')}</div>
								<div class="row" >
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span>金融机构：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<%if(tbLoanApply.tbMoneyDistribution!=null){%>
								<%for(com in jrcorplist){
							if(com.id==tbLoanApply.tbMoneyDistribution.bankCompId){						
							%>
								${com.compName}
							<%}}%>
							<%}%>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span>收款额度：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<%if(tbLoanApply.tbLend!=null){%>
							
								${tbLoanApply.tbLend.lendAmount}
								<%}%>
							</div>
						</div>
					</div>
				</div>
				<div class="row" >
				<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span>收款开户行：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.blankOpen}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span>收款银行卡：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.blankCards}
							</div>
						</div>
					</div>
				</div>

						<div class="form-unit">${text('企业材料')}</div>
					
					<%for(tbatt in corptbLoanAttachmentlist){%>						
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class=" "></span>${tbatt.attachmentName}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="${tbatt.id}_att" bizKey="${tbLoanApply.id}" bizType="tbLoanApply_corp_${tbatt.id}" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/><span style="color: red">${tbatt.attachmentRemar}</span>
							</div>
						</div>
					</div>
				</div>
				<%}%>	
											<div class="form-unit">${text('个人材料')}</div>
				
						<%for(tbatt in peopletbLoanAttachmentlist){%>						
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class=" "></span>${tbatt.attachmentName}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="${tbatt.id}_att" bizKey="${tbLoanApply.id}" bizType="tbLoanApply_people_${tbatt.id}" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/><span style="color: red">${tbatt.attachmentRemar}</span>
							</div>
						</div>
					</div>
				</div>
				<%}%>	
				<%if(tbLoanApply.applyState==1||tbLoanApply.applyState==2||tbLoanApply.applyState==3||tbLoanApply.applyState==4||tbLoanApply.applyState==5||tbLoanApply.applyState==6||tbLoanApply.applyState==8){%>
				
					<%for(tbp in tbpllist){%>												
						<div class="form-unit">${text('审核详情')}</div>
					<%break;}%>
						<%for(tbp in tbpllist){%>												
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<table style="width: 100%;margin-left: 4%">
							 <tr>
							 <td width="10%"></td>
							 <td><span style="float: right;color: red">${trim(tbp.operationTime,"yyyy-MM-dd HH:mm:ss")}</span><span style="float: right;">${tbp.userName}&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
							 </tr>
							  <tr>
							 <td style="padding-right: 10px;">
		 						<%for(tbs in tbslist){
		 						if(tbs.nowstatus+""==tbp.logState+""){
		 						%>	
		 						<span style="float: right">${tbs.stateName}</span>
		 						<%}}%>																			 
							 </td>
							 <td style="min-height: 50px;padding-left: 10px;background-color: #2a909a;color: white;">${tbp.operationRemark}</td>
							 </tr>
							</table>
						</div>
					</div>
				</div>
				<%}%>	
				<%}%>
			</div>
			
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">

						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$(function(){
	$(".col-sm-8").attr("style","margin-top:3px");
})
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
$(function(){
	detailinfo();	
})
function detailinfo(){
	//公司性质  所属行业  是否特殊								
	$("#aindustry").text(js.getDictLabel(${@DictUtils.getDictListJson('industry_type')}, '${tbLoanApply.industry}', '${text('未知')}', true)); 
	$("#anatureId").text(js.getDictLabel(${@DictUtils.getDictListJson('nature_type')}, '${tbLoanApply.natureId}', '${text('未知')}', true)); 
	$("#aspeciaIndustry").text(js.getDictLabel(${@DictUtils.getDictListJson('specia_industry')}, '${tbLoanApply.speciaIndustry}', '${text('未知')}', true)); 
//年限
	$("#acooperationId").text(js.getDictLabel(${@DictUtils.getDictListJson('time_cooperation')}, '${tbLoanApply.cooperationId}', '${text('未知')}', true)); 
						
//房产
//土地
	$("#acompHouse").text(js.getDictLabel(${@DictUtils.getDictListJson('comp_house')}, '${tbLoanApply.compHouse}', '${text('未知')}', true)); 
	$("#acompLand").text(js.getDictLabel(${@DictUtils.getDictListJson('comp_land')}, '${tbLoanApply.compLand}', '${text('未知')}', true)); 
//婚姻
//居住
	$("#aisRprAddress").text(js.getDictLabel(${@DictUtils.getDictListJson('is_rpr_address')}, '${tbLoanApply.isRprAddress}', '${text('未知')}', true)); 
	
	$("#alegalMarriage").text(js.getDictLabel(${@DictUtils.getDictListJson('marriage')}, '${tbLoanApply.legalMarriage}', '${text('未知')}', true)); 
	$("#alivingSituation").text(js.getDictLabel(${@DictUtils.getDictListJson('living')}, '${tbLoanApply.livingSituation}', '${text('未知')}', true)); 

	$("#alegalHouse").text(js.getDictLabel(${@DictUtils.getDictListJson('legal_house')}, '${tbLoanApply.legalHouse}', '${text('未知')}', true)); 
	$("#alegalCar").text(js.getDictLabel(${@DictUtils.getDictListJson('legal_car')}, '${tbLoanApply.legalCar}', '${text('未知')}', true)); 
	//家关系1、2
		$("#ahouseholdContacts1Relationship").text(js.getDictLabel(${@DictUtils.getDictListJson('relationship')}, '${tbLoanApply.householdContacts1Relationship}', '${text('未知')}', true)); 
		$("#ahouseholdContacts2Relationship").text(js.getDictLabel(${@DictUtils.getDictListJson('relationship')}, '${tbLoanApply.householdContacts2Relationship}', '${text('未知')}', true)); 
//其他关系 1、2
		$("#aotherContacts1Relationship").text(js.getDictLabel(${@DictUtils.getDictListJson('other_relationship')}, '${tbLoanApply.otherContacts1Relationship}', '${text('未知')}', true)); 
		$("#aotherContacts2Relationship").text(js.getDictLabel(${@DictUtils.getDictListJson('other_relationship')}, '${tbLoanApply.otherContacts2Relationship}', '${text('未知')}', true)); 


}
</script>