<% layout('/layouts/default.html', {title: '借款申请管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(tbLoanApply.isNewRecord ? '新增借款申请' : '编辑借款申请')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${tbLoanApply}" action="${ctx}/apply/tbLoanApply/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('企业信息')}</div>
				<#form:hidden path="id"/>
				<input id="url" name="url" style="display: none">
				<input id="nextstatus" name="nextstatus" style="display: none">		
			<input id="compId" name="compId" type="hidden" value="${tbLoanApply.compId}">				
				<div style="display: none">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 企业名称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compName" maxlength="100" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 统一社会信用代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compCode" maxlength="50" class="form-control "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 工商注册号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="regCode" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 组织结构代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="orgCode" maxlength="50" class="form-control "/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 税务登记号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="taxCode" maxlength="100" class="form-control "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span>法人身份证号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="cardNo" maxlength="50" class="form-control idcard required"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 注册时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
<#form:input path="registerDate" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 注册资金：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="registerMoney" maxlength="20" class="form-control digits"/>
							</div>
						</div>
					</div>
					
				</div>

									<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">注册地址：</label>
							<div class="col-sm-10">
								<#form:input path="registerAddress" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
					
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 企业法人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compLegalPerson" maxlength="20" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 法人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="legalPersonPhone" maxlength="20" class="form-control required phone"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 企业联系人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compContact" maxlength="20" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 联系人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contactPhone" maxlength="20" class="form-control required phone"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 公司电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compPhone" maxlength="20" class="form-control required phone"/>
							</div>
						</div>
						
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 公司邮箱：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="compEmail" maxlength="64" class="form-control required email"/>
							</div>
						</div>
					</div>
				</div>
					<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required">*</span> 主营业务：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="mainBusiness" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 员工数量：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="employeesCount" maxlength="20" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 公司性质：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="natureId" dictType="nature_type" class="form-control digits required" />						
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 所属行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:radio path="industry" dictType="industry_type" class="form-control digits required" />
							</div>
						</div>
					</div>
				</div>
			
				
				<div class="row">
					
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 是否特殊行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">							
								<#form:radio path="speciaIndustry" dictType="specia_industry" class="form-control digits required" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">公司简介：</label>
							<div class="col-sm-10">
						       <#form:textarea path="compProfile" class="form-control" style="height:100px" />
							</div>
						</div>
					</div>
				</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 企业名称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compName}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required"></span> 统一社会信用代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compCode}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 工商注册号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.regCode}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required"></span> 组织结构代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.orgCode}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 税务登记号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.taxCode}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required"></span>法人身份证号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.cardNo}
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 注册时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${trim(tbLoanApply.registerDate,"yyyy-MM-dd")}</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide"></span> 注册资金：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.registerMoney}
							</div>
						</div>
					</div>
					
				</div>

									<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">注册地址：</label>
							<div class="col-sm-10">
							${tbLoanApply.registerAddress}
							</div>
						</div>
					</div>
				</div>
					
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required"></span> 企业法人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.compLegalPerson}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required"></span> 法人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.legalPersonPhone}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 企业联系人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.compContact}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 联系人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.contactPhone}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 公司电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.compPhone}
							</div>
						</div>
						
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 公司邮箱：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.compEmail}
							</div>
						</div>
					</div>
				</div>
					<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required"></span> 主营业务：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.mainBusiness}							
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide"></span> 员工数量：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${tbLoanApply.employeesCount}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 公司性质：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<span id="anatureId"></span>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 所属行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
														<span id="aindustry"></span>
							
							</div>
						</div>
					</div>
				</div>
			
				
				<div class="row">
					
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 是否特殊行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">		
																					<span id="aspeciaIndustry"></span>
												
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">公司简介：</label>
							<div class="col-sm-10">
							${tbLoanApply.compProfile}
							</div>
						</div>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 法人身份证正面：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:fileupload id="idCardA"    bizKey="${tbLoanApply.compId}" bizType="tbComp_idCardA" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 法人身份证反面：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:fileupload id="idCardB" bizKey="${tbLoanApply.compId}" bizType="tbComp_idCardB" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
			<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required"></span> 营业执照：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:fileupload id="businessLicense" bizKey="${tbLoanApply.compId}" bizType="tbComp_businessLicense" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
										<%if(tbLoanApply.speciaIndustry==1){%>
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required"></span> 特殊行业许可证：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:fileupload id="specialTradeLicense"  bizKey="${tbLoanApply.compId}" bizType="tbComp_specialTradeLicense" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
					<%}%>
				</div>	
			
<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class="required "></span>企业简介附件：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="compProfileAttachment" bizKey="${tbLoanApply.compId}" bizType="tbComp_compProfileAttachment" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				
			
				
				
			</div>
							<div class="form-unit">${text('基本信息')}</div>
			
				<div class="row">
				 	<div class="col-xs-6" hidden="true">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 用户id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="userId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div> 
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 借款金额：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="loanAmount" maxlength="20" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 借款人姓名：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="loanName" maxlength="20" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 借款人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="loanPhone" maxlength="20" class="form-control required phone"/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 收款开户行：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="blankOpen" maxlength="100" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 收款账号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="blankCards" maxlength="100" class="form-control required "/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 产品类型：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:radio  path="productId" items="${tbProductlist}" itemLabel="prodctName" itemValue="id" class="form-control required" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 借款期限：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:radio  path="loanTime" items="${tbProductBorrowTypelist}" itemLabel="borrowTime" itemValue="id" class="form-control required" />							
							</div>
						</div>
					</div>
				</div>
				<div style="display: none" id="productIdinfo">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 购销合同编号（应收账款）：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contarctCode" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 账款金额：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="contactAmount" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
					
				</div>
				
				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span>合同有效期起：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:input path="urgeDateStart" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span>合同有效期止：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:input path="urgeDateEnd" readonly="true" maxlength="20" class="form-control Wdate required"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
					
				</div>
				
				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 资金回笼账号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="moneyCollectingAccount" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 资金回笼开户行：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="moneyCollectingBank" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
					
				</div>
				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 资金回笼用户名：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="moneyCollectingName" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
						
					
				</div>
				
				<div class="row" >
					<div class="col-xs-6" hidden="true">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 授权核心企业id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="coreCompId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 核心企业系统登录地址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="coreSysUrl" maxlength="200" class="form-control url"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 核心企业系统登录用户名：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="coreSysUsername" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required "></span> 核心企业系统登录密码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="coreSysPwd" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 核心企业合作年限：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							
								<#form:radio  path="cooperationId" dictType="time_cooperation" class="form-control required digits" />
							
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">借款用途：</label>
							<div class="col-sm-10">
								<#form:textarea path="loanUse" rows="4" maxlength="2000" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
					<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">还款来源：</label>
							<div class="col-sm-10">
								<#form:textarea path="reimbursementSouce" rows="4" maxlength="1000" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 企业房产：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="compHouse" dictType="comp_house" class="form-control required digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 企业土地：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="compLand" dictType="comp_land" class="form-control required digits" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 年销售额：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="annualSales" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 净利润：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="netProfit" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 银行负债：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="bankResponsible" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					
				</div>
				
				
				
				
				
				
				
				
				
				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 法人户口所在地：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="legalPrpPlace" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 法人身份证号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="legalIdcard" maxlength="20" class="form-control required idcard"/>
							</div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 法人房产情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="legalHouse" dictType="legal_house" class="form-control required digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 法人车产情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="legalCar" dictType="legal_car" class="form-control required digits" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 法人婚姻状况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="legalMarriage" dictType="marriage" class="form-control required digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 居住情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="livingSituation" dictType="living" class="form-control required digits" />
							</div>
						</div>
					</div>
				
				</div>
				<div class="row">
				
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 户籍地址与实际居住地址是否一致：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="isRprAddress" dictType="is_rpr_address" class="form-control required digits" />
							</div>
						</div>
					</div>
				
				<div style="display: none" id="isRprAddressinfo">
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 实际居住地址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:textarea path="actualLivingAddress" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 户籍地址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:textarea path="rprAddress" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				</div>
								<div class="row">
				
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 家庭联系人1：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="householdContacts1" maxlength="20" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 家庭联系人2：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="householdContacts2" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 家庭联系人1关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="householdContacts1Relationship" dictType="relationship" class="form-control required digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 家庭联系人2关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="householdContacts2Relationship" dictType="relationship" class="form-control digits" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> 家庭联系人1 电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="householdContacts1Phone" maxlength="20" class="form-control required phone"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 家庭联系人2 电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="householdContacts2Phone" maxlength="20" class="form-control phone"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 其他联系人1：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="otherContacts1" maxlength="20" class="form-control "/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 其他联系人2：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="otherContacts2" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 其他联系人1关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="otherContacts1Relationship" dictType="other_relationship" class="form-control digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 其他联系人2关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="otherContacts2Relationship" dictType="other_relationship" class="form-control digits" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 其他联系人1电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="otherContacts1Phone" maxlength="20" class="form-control phone"/>
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 其他联系人2电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="otherContacts2Phone" maxlength="20" class="form-control phone"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" hidden="true">
				
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 申请时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="applyTime" readonly="true" maxlength="20" class="form-control Wdate date"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" hidden="true">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 申请状态：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="applyState" dictType="apply_status" blankOption="true" class="form-control digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6" hidden="true">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 操作人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="operationUserId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" hidden="true">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 操作时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="operationTime" readonly="true" maxlength="20" class="form-control Wdate"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> 授信额度：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="lineCredit" maxlength="20" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				
							<div class="form-unit">${text('企业材料')}</div>
					
					<%for(tbatt in corptbLoanAttachmentlist){%>						
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<%if(tbatt.required=='required'){%>
							<span class="required ">*</span>
							<%}%>
							${tbatt.attachmentName}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="${tbatt.id}_att" bizKey="${tbLoanApply.id}" bizType="tbLoanApply_corp_${tbatt.id}" maxUploadNum="10"
									uploadType="image" class="${tbatt.required}" readonly="false"/><span style="color: red">${tbatt.attachmentRemar}</span>
							</div>
						</div>
					</div>
				</div>
				<%}%>	
											<div class="form-unit">${text('个人材料')}</div>
				
						<%for(tbatt in peopletbLoanAttachmentlist){%>						
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class="required ">*</span>${tbatt.attachmentName}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="${tbatt.id}_att" bizKey="${tbLoanApply.id}" bizType="tbLoanApply_people_${tbatt.id}" maxUploadNum="10"
									uploadType="image" class="${tbatt.required}" readonly="false"/><span style="color: red">${tbatt.attachmentRemar}</span>
							</div>
						</div>
					</div>
				</div>
				<%}%>	
			</div>
			
			<div class="box-footer" align="center">
				<div class="row" style="margin: 0 100px 0 0; ">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit" style="display: none"></button>		
						<%for(bstate in prolist){%> 	
						<button type="button" class="btn btn-sm btn-primary"  onclick="change('${bstate.nextStateId}','${bstate.url}','${bstate.remark}')">${bstate.name}</button>	&nbsp;&nbsp;												
						<%}%>				
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>

$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				var status=$('#nextstatus').val();
				if(status==0){
					location.reload();
				}else{
					js.closeCurrentTabPage(function(contentWindow){
						contentWindow.page();
					});
				}
				
			}
		}, "json");
    }
});
function change(status,url,remark){
	/* 	layer.alert('见到你真的很高兴', {icon: 1});*/
		layer.alert(remark, {
			     skin: 'layui-layer-molv' //样式类名  自定义样式
			     ,closeBtn: 1    // 是否显示关闭按钮
			     ,anim: 1 //动画类型
			    ,btn: ['确定','取消'] //按钮
			    ,icon: 8    // icon
			    ,yes:function(){
			         $('#nextstatus').val(status);
			    	if(url.length>0){
			    		$('#inputForm').attr("action",url)
			    	}
			    	 if(status==0){
			    		 for(var i=0;i<$(".form-control").size();i++){
			    				$(".form-control").eq(i).attr("class",$(".form-control").eq(i).attr("class").replace('required',' '))
			    			} 
			    		 for(var i=0;i<$(".wup_input").size();i++){
			    				$(".wup_input").eq(i).attr("class",$(".wup_input").eq(i).attr("class").replace('required',' '))
			    		 }
			    	} 
			    	$("#btnSubmit").trigger("click");
			     }
		     	,btn2:function(){
			        layer.msg('已取消')
			     }});
	}
$(function(){
	detailinfo();
	//产品类型
	$("input[name='productId']").next().click(function(){
		$("#productIdinfo").show();
	})
	if('${tbLoanApply.productId}'.length>0){
		$("#productIdinfo").show();
	}
	//地址
	$("input[name='isRprAddress']").next().click(function(){
		if($(this).prev().val()==0){
			$("#isRprAddressinfo").hide();
		}else{
			$("#isRprAddressinfo").show();
		}
	})
	if('${tbLoanApply.isRprAddress}'==1){
		$("#isRprAddressinfo").show();
	}
	
})
function detailinfo(){
	//公司性质  所属行业  是否特殊								
	$("#anatureId").text(js.getDictLabel(${@DictUtils.getDictListJson('nature_type')}, '${tbLoanApply.natureId}', '${text('未知')}', true)); 
	$("#aindustry").text(js.getDictLabel(${@DictUtils.getDictListJson('industry_type')}, '${tbLoanApply.industry}', '${text('未知')}', true)); 
	$("#aspeciaIndustry").text(js.getDictLabel(${@DictUtils.getDictListJson('specia_industry')}, '${tbLoanApply.speciaIndustry}', '${text('未知')}', true)); 

}
</script>