<% layout('/layouts/default.html', {title: '借款申请管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i>查看
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${tbLoanApply}" action="${ctx}/apply/tbLoanApply/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('企业信息')}</div>
				<#form:hidden path="id"/>
			<input id="compId" name="compId" type="hidden" value="${tbLoanApply.compId}">				
				
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 企业名称：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compName}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 统一社会信用代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compCode}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 工商注册号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.regCode}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 组织结构代码：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">		
								${tbLoanApply.orgCode}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 税务登记号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.taxCode}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span>法人身份证号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.cardNo}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 注册时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							${trim(tbLoanApply.registerDate,"yyyy-MM-dd")}
						</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 注册资金：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.registerMoney}
							</div>
						</div>
					</div>
					
				</div>

									<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">注册地址：</label>
							<div class="col-sm-10">
								${tbLoanApply.registerAddress}
							</div>
						</div>
					</div>
				</div>
					
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 企业法人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compLegalPerson}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 法人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.legalPersonPhone}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 企业联系人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compContact}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 联系人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.contactPhone}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 公司电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compPhone}
							</div>
						</div>
						
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 公司邮箱：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compEmail}
							</div>
						</div>
					</div>
				</div>
					<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 主营业务：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.mainBusiness}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 员工数量：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.employeesCount}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" " ></span> 公司性质：<i class="fa icon-question hide" ></i></label>
							<div class="col-sm-8" >							
								<#form:radio  path="natureId" dictType="nature_type" class="form-control digits "  />						
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 所属行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:radio path="industry" dictType="industry_type" class="form-control digits " />
							</div>
						</div>
					</div>
				</div>
			
				
				<div class="row">
					
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 是否特殊行业：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">							
								<#form:radio path="speciaIndustry" dictType="specia_industry" class="form-control digits " />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">公司简介：</label>
							<div class="col-sm-10">
						       ${tbLoanApply.compProfile}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人身份证正面：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:fileupload id="idCardA"    bizKey="${tbLoanApply.compId}" bizType="tbComp_idCardA" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人身份证反面：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:fileupload id="idCardB" bizKey="${tbLoanApply.compId}" bizType="tbComp_idCardB" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
			<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 特殊行业许可证：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:fileupload id="specialTradeLicense"  bizKey="${tbLoanApply.compId}" bizType="tbComp_specialTradeLicense" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=""></span> 营业执照：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:fileupload id="businessLicense" bizKey="${tbLoanApply.compId}" bizType="tbComp_businessLicense" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
				</div>	
			
<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class=" "></span>企业简介附件：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="compProfileAttachment" bizKey="${tbLoanApply.compId}" bizType="tbComp_compProfileAttachment" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
				
			
				
				
			</div>
							<div class="form-unit">${text('基本信息')}</div>
			
				<div class="row">
				 	<div class="col-xs-6" hidden="true">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 用户id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="userId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div> 
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 借款金额：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.loanAmount}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 借款人姓名：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.loanName}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 借款人电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.loanPhone}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 借款产品：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:radio  path="productId" items="${tbProductlist}" itemLabel="prodctName" itemValue="id" class="form-control " />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 借款期限：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							<#form:radio  path="loanTime" items="${tbProductBorrowTypelist}" itemLabel="borrowTime" itemValue="id" class="form-control " />							
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 核心企业合作年限：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
							
								 <#form:radio  path="cooperationId" dictType="time_cooperation" class="form-control  digits" />
							
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">借款用途：</label>
							<div class="col-sm-10">
								${tbLoanApply.loanUse}
							</div>
						</div>
					</div>
				</div>
					<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">还款来源：</label>
							<div class="col-sm-10">
								${tbLoanApply.reimbursementSouce}
							</div>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 企业房产：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="compHouse" dictType="comp_house" class="form-control  digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 企业土地：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.compLand}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 年销售额：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.annualSales}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 净利润：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.netProfit}
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 银行负债：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.bankResponsible}
							</div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 法人户口所在地：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.legalPrpPlace}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人身份证号：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.legalIdcard}
							</div>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人房产情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.legalHouse}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人车产情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.legalCar}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
				<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 法人婚姻状况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="legalMarriage" dictType="marriage" class="form-control  digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 居住情况：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="livingSituation" dictType="living" class="form-control  digits" />
							</div>
						</div>
					</div>
				
				</div>
				<div class="row">
				
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 户籍地址与实际居住地址是否一致：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="isRprAddress" dictType="is_rpr_address" class="form-control  digits" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 实际居住地址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.actualLivingAddress}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 如与实际居住地址不符 填写户籍地址：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.rprAddress}
							</div>
						</div>
					</div>
				</div>
								<div class="row">
				
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 家庭联系人1：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.householdContacts1}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 家庭联系人2：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.householdContacts2}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 家庭联系人1关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="householdContacts1Relationship" dictType="relationship" class="form-control  digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 家庭联系人2关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="householdContacts2Relationship" dictType="relationship" class="form-control digits" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" "></span> 家庭联系人1 电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.householdContacts1Phone}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 家庭联系人2 电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.householdContacts2Phone}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人1：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.otherContacts1}
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人2：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.otherContacts2}
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人1关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="otherContacts1Relationship" dictType="other_relationship" class="form-control digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人2关系：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:radio path="otherContacts2Relationship" dictType="other_relationship" class="form-control digits" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人1电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.otherContacts1Phone}
							</div>
						</div>
					</div>
						<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 其他联系人2电话：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								${tbLoanApply.otherContacts2Phone}
							</div>
						</div>
					</div>
				</div>
				<div class="row" hidden="true">
				
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 申请时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="applyTime" readonly="true" maxlength="20" class="form-control Wdate date"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" hidden="true">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 申请状态：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="applyState" dictType="apply_status" blankOption="true" class="form-control digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6" hidden="true">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 操作人：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="operationUserId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" hidden="true">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 操作时间：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="operationTime" readonly="true" maxlength="20" class="form-control Wdate"
									dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 授信额度：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="lineCredit" maxlength="20" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" >
					<div class="col-xs-6" hidden="true">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class=" hide"></span> 授权核心企业id：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="coreCompId" maxlength="64" class="form-control"/>
							</div>
						</div>
					</div>
				
				</div>
				
						<div class="form-unit">${text('企业材料')}</div>
					
					<%for(tbatt in corptbLoanAttachmentlist){%>						
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class=" "></span>${tbatt.attachmentName}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="${tbatt.id}_att" bizKey="${tbLoanApply.id}" bizType="tbLoanApply_corp_${tbatt.id}" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/><span style="color: red">${tbatt.attachmentRemar}</span>
							</div>
						</div>
					</div>
				</div>
				<%}%>	
											<div class="form-unit">${text('个人材料')}</div>
				
						<%for(tbatt in peopletbLoanAttachmentlist){%>						
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
							<span class=" "></span>${tbatt.attachmentName}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
							<#form:fileupload id="${tbatt.id}_att" bizKey="${tbLoanApply.id}" bizType="tbLoanApply_people_${tbatt.id}" maxUploadNum="1"
									uploadType="image" class="" readonly="true"/><span style="color: red">${tbatt.attachmentRemar}</span>
							</div>
						</div>
					</div>
				</div>
				<%}%>	
				<%if(tbLoanApply.applyState==1||tbLoanApply.applyState==2||tbLoanApply.applyState==3||tbLoanApply.applyState==4||tbLoanApply.applyState==5||tbLoanApply.applyState==6||tbLoanApply.applyState==8){%>
				
					<%for(tbp in tbpllist){%>												
						<div class="form-unit">${text('审核详情')}</div>
					<%break;}%>
						<%for(tbp in tbpllist){%>												
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<table style="width: 100%;margin-left: 4%">
							 <tr>
							 <td width="10%"></td>
							 <td><span style="float: right;color: red">${trim(tbp.operationTime,"yyyy-MM-dd HH:mm:ss")}</span><span style="float: right;">${tbp.userName}&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
							 </tr>
							  <tr>
							 <td style="padding-right: 10px;">
		 						<%for(tbs in tbslist){
		 						if(tbs.nowstatus+""==tbp.logState+""){
		 						%>	
		 						<span style="float: right">${tbs.stateName}</span>
		 						<%}}%>																			 
							 </td>
							 <td style="min-height: 50px;padding-left: 10px;background-color: #2a909a;color: white;">${tbp.operationRemark}</td>
							 </tr>
							</table>
						</div>
					</div>
				</div>
				<%}%>	
				<%}%>
			</div>
			
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">

						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>