<% layout('/layouts/default.html', {title: '借款申请管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('借款申请管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('apply:tbLoanApply:edit')){ %>
					<a href="${ctx}/apply/tbLoanApply/form" class="btn btn-default btnTool" title="${text('新增借款申请')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${tbLoanApply}" action="${ctx}/apply/tbLoanApply/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">企业名称：</label>
					<div class="control-inline">
						<#form:input path="compName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">统一社会信用代码：</label>
					<div class="control-inline">
						<#form:input path="compCode" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">注册时间：</label>
					<div class="control-inline">
						<#form:input path="registerDate_gte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){registerDate_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="registerDate_lte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">注册地址：</label>
					<div class="control-inline">
						<#form:input path="registerAddress" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">注册资金：</label>
					<div class="control-inline">
						<#form:input path="registerMoney" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">企业法人：</label>
					<div class="control-inline">
						<#form:input path="compLegalPerson" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">法人电话：</label>
					<div class="control-inline">
						<#form:input path="legalPersonPhone" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">企业联系人：</label>
					<div class="control-inline">
						<#form:input path="compContact" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">联系人电话：</label>
					<div class="control-inline">
						<#form:input path="contactPhone" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">公司性质：</label>
					<div class="control-inline">
						<#form:radio path="natureId" dictType="nature_type" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">所属行业：</label>
					<div class="control-inline">
						<#form:input path="industry" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">主营业务：</label>
					<div class="control-inline">
						<#form:input path="mainBusiness" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">公司简介：</label>
					<div class="control-inline">
						<#form:input path="compProfile" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">是否特殊行业：</label>
					<div class="control-inline">
						<#form:radio path="speciaIndustry" dictType="specia_industry" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">特殊行业许可证：</label>
					<div class="control-inline">
						<#form:input path="specialTradeLicense" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">营业执照：</label>
					<div class="control-inline">
						<#form:input path="businessLicense" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">法人身份证正面：</label>
					<div class="control-inline">
						<#form:input path="idCardA" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">法人身份证反面：</label>
					<div class="control-inline">
						<#form:input path="idCardB" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">公司电话：</label>
					<div class="control-inline">
						<#form:input path="compPhone" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">公司邮箱：</label>
					<div class="control-inline">
						<#form:input path="compEmail" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">员工数量：</label>
					<div class="control-inline">
						<#form:input path="employeesCount" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">企业id：</label>
					<div class="control-inline">
						<#form:input path="compId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">用户id：</label>
					<div class="control-inline">
						<#form:input path="userId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">借款金额：</label>
					<div class="control-inline">
						<#form:input path="loanAmount" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">借款人姓名：</label>
					<div class="control-inline">
						<#form:input path="loanName" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">借款人电话：</label>
					<div class="control-inline">
						<#form:input path="loanPhone" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">借款产品id：</label>
					<div class="control-inline width-120">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">借款期限 关联产品类型表：</label>
					<div class="control-inline width-120">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">核心企业合作年限 关联COO表：</label>
					<div class="control-inline width-120">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">借款用途：</label>
					<div class="control-inline">
						<#form:input path="loanUse" maxlength="2000" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">还款来源：</label>
					<div class="control-inline">
						<#form:input path="reimbursementSouce" maxlength="1000" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">企业房产：</label>
					<div class="control-inline">
						<#form:radio path="compHouse" dictType="comp_house" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">企业土地：</label>
					<div class="control-inline">
						<#form:radio path="compLand" dictType="comp_land" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">年销售额：</label>
					<div class="control-inline">
						<#form:input path="annualSales" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">净利润：</label>
					<div class="control-inline">
						<#form:input path="netProfit" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">法人身份证号：</label>
					<div class="control-inline">
						<#form:input path="legalIdcard" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">法人户口所在地Registered permanent residence：</label>
					<div class="control-inline">
						<#form:input path="legalPrpPlace" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">法人婚姻状况：</label>
					<div class="control-inline">
						<#form:radio path="legalMarriage" dictType="marriage" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">法人房产情况：</label>
					<div class="control-inline">
						<#form:radio path="legalHouse" dictType="legal_house" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">法人车产情况：</label>
					<div class="control-inline">
						<#form:radio path="legalCar" dictType="legal_car" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">居住情况：</label>
					<div class="control-inline">
						<#form:radio path="livingSituation" dictType="living" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">银行负债：</label>
					<div class="control-inline">
						<#form:input path="bankResponsible" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">实际居住地址：</label>
					<div class="control-inline">
						<#form:input path="actualLivingAddress" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">户籍地址与实际居住地址是否一致：</label>
					<div class="control-inline">
						<#form:radio path="isRprAddress" dictType="is_rpr_address" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">如与实际居住地址不符 填写户籍地址：</label>
					<div class="control-inline">
						<#form:input path="rprAddress" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">家庭联系人1：</label>
					<div class="control-inline">
						<#form:input path="householdContacts1" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">家庭联系人2：</label>
					<div class="control-inline">
						<#form:input path="householdContacts2" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">家庭联系人1关系：</label>
					<div class="control-inline">
						<#form:radio path="householdContacts1Relationship" dictType="relationship" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">家庭联系人2关系：</label>
					<div class="control-inline">
						<#form:radio path="householdContacts2Relationship" dictType="relationship" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">家庭联系人1 电话：</label>
					<div class="control-inline">
						<#form:input path="householdContacts1Phone" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">家庭联系人2 电话：</label>
					<div class="control-inline">
						<#form:input path="householdContacts2Phone" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">其他联系人1：</label>
					<div class="control-inline">
						<#form:input path="otherContacts1" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">其他联系人2：</label>
					<div class="control-inline">
						<#form:input path="otherContacts2" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">其他联系人1关系：</label>
					<div class="control-inline">
						<#form:input path="otherContacts1Relationship" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">其他联系人2关系：</label>
					<div class="control-inline">
						<#form:radio path="otherContacts2Relationship" dictType="other_relationship" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">其他联系人1电话：</label>
					<div class="control-inline">
						<#form:radio path="otherContacts1Phone" dictType="other_relationship" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">其他联系人2电话：</label>
					<div class="control-inline">
						<#form:input path="otherContacts2Phone" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">申请时间：</label>
					<div class="control-inline">
						<#form:input path="applyTime_gte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){applyTime_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="applyTime_lte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">申请状态：</label>
					<div class="control-inline width-120">
						<#form:select path="applyState" dictType="apply_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">操作人：</label>
					<div class="control-inline">
						<#form:input path="operationUserId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">操作时间：</label>
					<div class="control-inline">
						<#form:input path="operationTime_gte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){operationTime_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input path="operationTime_lte" readonly="true" maxlength="20" class="form-control Wdate-date"
							dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">授信额度：</label>
					<div class="control-inline">
						<#form:input path="lineCredit" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">授权核心企业id：</label>
					<div class="control-inline">
						<#form:input path="coreCompId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">核心企业系统登录地址：</label>
					<div class="control-inline">
						<#form:input path="coreSysUrl" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">核心企业系统登录用户名：</label>
					<div class="control-inline">
						<#form:input path="coreSysUsername" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">核心企业系统登录密码：</label>
					<div class="control-inline">
						<#form:input path="coreSysPwd" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'企业名称', name:'compName', index:'a.comp_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/apply/tbLoanApply/form?id='+row.id+'" class="btnList" data-title="${text('编辑借款申请')}">'+(val||row.id)+'</a>';
		}},
		{header:'信用代码', name:'compCode', index:'a.comp_code', width:150, align:"left"},
		{header:'企业法人', name:'compLegalPerson', index:'a.comp_legal_person', width:150, align:"left"},
		{header:'企业联系人', name:'compContact', index:'a.comp_contact', width:150, align:"left"},
		{header:'借款金额', name:'loanAmount', index:'a.loan_amount', width:150, align:"left"},
		{header:'借款人姓名', name:'loanName', index:'a.loan_name', width:150, align:"left"},
		{header:'借款人电话', name:'loanPhone', index:'a.loan_phone', width:150, align:"left"},
		{header:'借款产品', name:'productId', index:'a.product_id', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text('未知')}', true);
		}},
		{header:'借款期限', name:'loanTime', index:'a.loan_time', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('')}, val, '${text('未知')}', true);
		}},
		{header:'申请时间', name:'applyTime', index:'a.apply_time', width:150, align:"center"},
		{header:'状态', name:'applyState', index:'a.apply_state', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('apply_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('apply:tbLoanApply:edit')){ %>
				actions.push('<a href="${ctx}/apply/tbLoanApply/form?id='+row.id+'" class="btnList" title="${text('编辑借款申请')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/apply/tbLoanApply/delete?id='+row.id+'" class="btnList" title="${text('删除借款申请')}" data-confirm="${text('确认要删除该借款申请吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>